h1{ 
  color: #373fdd;
  text-align:center;
  text-shadow: 4px 4px 10px;
  font-size: 70px;
  font-style: italic;
}
h2{
  color: green;
  text-align:center;
}
h3{
  color:red;
  text-align:center;
  text-shadow: 2px 2px 5px;
  font-size: 50px;
  font-style: italic;
}
.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.button {
  background-color: "white";
  border: solid #66ff99;
  color: #373fdd;
  border-radius: 50px;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: grab;
  width: auto;
  height: 20px;
}
.button1:hover{
  background-color: #66ff99;
  color: white
}
p{
  text-align: center;
  font-size: 20px;
  border-spacing: 20px;
  
  
}
.myDiv {
  background-color: orange;
  text-align: center;
  margin-top: -1cm ;
}
.myDiv1 {
  margin-top: -40px;
  background-color: #66ff99;
  text-align: center;
}
.button2 {
  background-color: "white";
  border: solid #373fdd;
  color:orange;
  border-radius: 50px;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: grab;
  width: auto;
  height: 20px;
}
.button3:hover{
  background-color: orange;
  color: white
}

.bg{
  background-color: orange;
  text-align: center;
  height: 300px;
  width: 250px;
}

.bg1{
  background-color: lightcoral;
  text-align: center;
  margin-top: -1cm ;
 
  
}
.button4 {
  background-color: lightcoral;
  border: solid red;
  color: crimson;
  border-radius: 50px;
  padding: 10px 32px;
  text-align: center;
  font-size: 20px;
  cursor: grab;
  width: auto;
  height: 20px;
  display: inline-flex;
  
}
.button5:hover{
  background-color: dodgerblue;
  color:white
}
div.polaroid {
  width: 480px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left:380px ;
}

.img {width: 100%}

div.container {
  text-align: center;
  padding: 10px 20px;
}
.img:hover{
opacity:0.5;
}
.polaroid1{
  width: 200px;
  height: 200px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.container1 {
  text-align: center;
  padding: 10px 20px;
}